@page "/mytest"
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;


@inject Services.GeoapifyService timezoneService

<h3>MyTest</h3>

@timezoneName?

@code
{
    private string timezoneName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        timezoneName = await timezoneService.GetTimeZone("53.549753", "49.524737");

        

    }
    
}
