@page "/test2"
@inject ProtectedSessionStorage protectedSessionStore
@inject ProtectedLocalStorage protectedLocalStorage

<h3>Teset2Page</h3>


<link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
<RadzenRadioButtonList @bind-Value=@tt.test1 TValue="bool">
    <Items>
        <RadzenRadioButtonListItem Text="Список с одиночным выбором" Value="true" />
        <RadzenRadioButtonListItem Text="Список с множественным выбором" Value="false" />
    </Items>
</RadzenRadioButtonList>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Random random = new();
            await protectedLocalStorage.SetAsync("name", random.Next(999).ToString());
            //var storageResult = await protectedLocalStorage.GetAsync<string>("name");
            //Console.WriteLine(storageResult.Value);
        }
    }


    class TestModel
    {
        public bool test1 { get; set; }
    }
    TestModel tt = new();

}
